/* Fonte global */
body {
    font-family: 'Inter', sans-serif;
}

/* Seção Quem Somos */
.quemSomos {
    padding: 8% 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #fafafa;
}

.quemSomos .titulo {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.quemSomos .titulo .span {
    -webkit-text-fill-color: rgb(19, 19, 226);
}

.quemSomos_identificacao img {
    width: 100%;
    height: 100%; /* faz acompanhar a altura dos cards */
    object-fit: cover; /* mantém a proporção, cortando se precisar */
    border-radius: 16px;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(12px); }
}

/* Cards */
.cards_quemSomos {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 60%; /* ocupa o restante */
    margin: 0 auto;
}

.quemSomos_conteudo {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 2%;
}

.quemSomos_identificacao {
    flex: none;
    width: 40%; /* ocupa 60% da largura do container */
}

.cards_quemSomos .card {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease;
    min-height: 140px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.cards_quemSomos .card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(14, 8, 82, 0.15);
}

/* Ícones */
.cards_quemSomos .card i {
    font-size: 1.8rem;
    color: #0e0852;
}

/* Título dos cards */
.cards_quemSomos .card h3 {
    font-weight: 600;
    color: black;
    font-size: 1rem;
}

/* Texto dos cards */
.cards_quemSomos .card p {
    font-size: 0.9rem;
    color: #6b7280;
    line-height: 1.4;
}

/* Responsividade */
@media (max-width: 900px) {
    .quemSomos_conteudo {
        flex-direction: column;
        align-items: center;
    }

    .quemSomos_identificacao {
        width: 100%;
        max-width: 500px; /* opcional */
    }

    .quemSomos_identificacao img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .cards_quemSomos {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* mantém responsivo */
        gap: 20px;
        width: 100%; /* ocupa toda a largura disponível */
        max-width: 700px; /* controla para não ficar exagerado */
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .cards_quemSomos {
        grid-template-columns: 1fr; /* no mobile 1 card por linha */
    }
}