* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* === Navbar lateral fixa === */
header {
    position: fixed;   /* fica preso na esquerda */
    top: 0;
    left: 0;
    width: 10%;        /* ocupa 10% da tela */
    height: 100vh;     /* altura total da tela */
    background-color: #24253e;
    z-index: 1000;     /* fica acima de tudo, mas sem cobrir pq daremos espaço */
}

/* === Conteúdo principal === */
main.container {
    margin-left: 10%;  /* empurra o main pro lado direito */
    max-width: 90%;    /* evita que ultrapasse a tela */
    padding: 20px;
    box-sizing: border-box;
}



nav {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5% 0% 0% 5%;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5%;
    display: flex;
    gap: 10px;
}