* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: whitesmoke;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5% 1.5%;
}

nav h2 {
    font-size: 2rem;
    color: #0e0852;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border-radius: 5px;
}

.container h2 {
    text-align: center;
    color: #0e0852;
    font-size: 2rem;
}

form {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.input-grupo1,
.input-grupo2,
.input-grupo3,
.input-grupo4,
.input-grupo5 {
    position: relative;
}

.campoNome,
.campoEmail,
.campoTelefone,
.campoSenha,
.campoConfirmarSenha {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 1rem;
    font-size: 1.1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.nomeLabel,
.emailLabel,
.telefoneLabel,
.senhaLabel,
.senhaConfirmarLabel {
    position: absolute;
    left: 1%;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.campoNome:focus,
input:valid,
.campoEmail:focus,
input:valid,
.campoTelefone:focus,
input:valid,
.campoSenha:focus,
input:valid,
.campoConfirmarSenha:focus,
input:valid {
    outline: none;
    border-bottom: 1.5px solid blue;
}

.campoNome:focus~label,
input:valid~label,
.campoEmail:focus~label,
input:valid~label,
.campoTelefone:focus~label,
input:valid~label,
.campoSenha:focus~label,
input:valid~label,
.campoConfirmarSenha:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.9);
    background-color: transparent;
    padding: 0 .2em;
    color: blue;
}

.select-grupo6 {
    margin-top: 1%;
}

.campoAcesso {
    width: 100%;
    padding: 1rem 0rem;
    outline: none;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

button {
    font-size: 1.1rem;
    padding: 3%;
    background-color: #0e0852;
    color: white;
    border: none;
    border-radius: 5px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 25%;
}

.parteEsquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.parteDireita {
    width: 60%;
    height: 100vh;
    background-color: black;
}

.adicionais {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: gray;
    text-align: center;
    font-size: 1rem;
}

.adicionais .termos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

video {
    width: 100%;
    height: 100vh;
    top: 8%;
    z-index: 1;
    background-color: black;
}

video {
    pointer-events: none;
}

video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

@media (max-width: 1000px) {
    body {
        background-color: black;
    }

    .videoBody {
        display: flex;
        position: fixed;
        top: 0;
    }

    .parteDireita {
        display: none;
    }

    .parteEsquerda {
        width: 50%;
        height: 95%;
        border-radius: 10px;
        z-index: 1;
        background-color: whitesmoke;
    }
}

@media screen and (max-width: 800px) {
    .parteEsquerda {
        width: 80%;
        height: 100%;
        padding: 0px 0px 10px 0px;
    }
}